@import "tailwindcss";

@theme {
    --color-mint-500: oklch(0.72 0.11 178);
    --color-primary: #191AD1;
    --color-secondary: #E5E7EB;
    --color-dark: #111827;
    --color-neutral: #6B7280;
    --color-light: #D1D5DB;
    --color-errordark: #DC2626;
    --color-error: #EF4444;
    --color-errorbg: #FEF2F2;

    /* Button Styles */
    --btn-padding: .5rem 1rem;
    --btn-radius: 0.5rem;
    --btn-disabled-bg: var(--color-secondary);
    --btn-disabled-color: #1F2937;
    --default-padding: 1.5rem;

}

input,
select {
    border: 1px solid var(--color-light);
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);

    &:focus {
        border-color: var(--color-neutral);
        outline: none;
    }
}

table {
    font-size: 0.875rem;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid var(--color-light);
    border-radius: var(--btn-radius);
    overflow: hidden;
}

/* Optional: If you want borders between cells */
th,
td {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-light);
    /* border-right: 1px solid var(--color-light); */
}

th {
    background-color: var(--color-secondary);
}

/* Remove extra borders from last elements */
th:last-child,
td:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

.box {
    border: 1px solid var(--color-light);
    border-radius: var(--btn-radius);
    padding: var(--default-padding);
}

.labeled-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.subsection-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-primary {
    background-color: var(--color-primary);
    color: #EEEEEE;
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    cursor: pointer;
    font-size: 0.875rem;
}

.btn-primary:hover {
    background-color: #2B2EFD;
}

.btn-primary:disabled {
    background-color: var(--btn-disabled-bg);
    color: var(--btn-disabled-color);
    cursor: not-allowed;
}

.btn-secondary {
    background-color: #FFFFFF;
    color: #1F2937;
    padding: var(--btn-padding);
    border: 1px solid var(--color-secondary);
    border-radius: var(--btn-radius);
    cursor: pointer;
    font-size: 0.875rem;
}

.btn-secondary:hover {
    background-color: #F2F2F2;
}

.btn-secondary:disabled {
    background-color: var(--btn-disabled-bg);
    color: var(--btn-disabled-color);
    cursor: not-allowed;
}

.btn-danger {
    background-color: var(--color-errorbg);
    color: var(--color-errordark);
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #FEE2E2;
}

.btn-danger:disabled {
    background-color: var(--btn-disabled-bg);
    color: var(--btn-disabled-color);
    cursor: not-allowed;
}

.player-dot {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(50%);
}