<div class="flex flex-col gap-6 lg:max-w-md w-full mx-auto">
  <span class="section-title">Edit Match</span>
  <span class="text-gray-600">Group: <%= @group.name %></span>
  <%= render 'form' %>
  <div class="actions">
    <%= link_to 'Back', group_path(@group), class: "button text-neutral" %>
  </div>
</div>